@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}

/* Poppins Family */

@font-face {
  font-family: 'PoppinsLight';
  src: local('Poppins-Light'),
      url('./assets//font/poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsRegular';
  src: local('Poppins-Regular'),
      url('./assets/font/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsMedium';
  src: local('Poppins-Medium'),
      url('./assets/font/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: local('Poppins-SemiBold'),
      url('./assets/font/poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsBold';
  src: local('Poppins-Bold'),
      url('./assets/font/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsExtraBold';
  src: local('Poppins-ExtraBold'),
      url('./assets/font/poppins/Poppins-ExtraBold.ttf') format('truetype');
}

.Poppins-Light {
  font-family: PoppinsLight, Arial, serif;
}

.Poppins-Regular {
  font-family: PoppinsRegular, Arial, serif;
}

.Poppins-Medium {
  font-family: PoppinsMedium, Arial, serif;
}

.Poppins-SemiBold {
  font-family: PoppinsSemiBold, Arial, serif;
}

.Poppins-Bold {
  font-family: PoppinsBold, Arial, serif;
}

.Poppins-ExtraBold {
  font-family: PoppinsExtraBold, Arial, serif;
}

.btn-orange-filled {
  @apply bg-orange-primary text-white hover:bg-transparent hover:text-white border border-transparent hover:border-orange-primary
     Poppins-Regular px-5 lg:px-7 py-1 md:py-2 transition duration-1000 whitespace-nowrap;
}

.btn-orange-outline {
  @apply bg-transparent text-orange-primary hover:bg-orange-primary hover:text-white hover:border-white
   border border-orange-primary  Poppins-Regular px-5 lg:px-7 py-1 md:py-2 transition duration-1000 whitespace-nowrap;
}

.btn-purple-filled {
  @apply bg-purple-primary text-white hover:bg-transparent hover:text-white border border-transparent hover:border-orange-primary
   Poppins-Regular px-5 lg:px-7 py-1 md:py-2 transition duration-1000 whitespace-nowrap;
}

.btn-purple-normal-filled {
  @apply bg-purple-normal text-white hover:bg-white hover:text-orange-primary hover:border-orange-primary
   Poppins-Regular px-5 lg:px-7 py-1 md:py-2 transition duration-1000 whitespace-nowrap;
}

.page-padding {
  @apply px-4 sm:px-10 md:px-16 lg:px-24 xl:px-32 2xl:px-72;
}

/* scrollbar -- design  */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e266b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3e266b;
}